.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: #f4f4f5;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f5;
}
